@charset "UTF-8";

      body {
        background-color:rgb(156, 156, 102);
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
      }
      h1{
        color: blue;
        background-color: burlywood;
      }
      h2{
        color: brown;
      }
      p{
        text-align: justify;
      }
    